/* Element Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #32292f;
    background-color: #99e1d9;
    text-align: center;
    line-height: 1.7em;
}

a {
    text-decoration: none;
    color: #705d56;
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    max-width: 100%;
}

/* Class Styles */

.container {
    background-color: #f0f7f4;
    padding: 50px 50px;
}

.profile, 
.contact-info,
.main-header {
    padding-left: 1em;
    padding-right: 1em;
}

.name {
    padding-top: 5px;
}

.main-nav li {
	background: #f0f7f4;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav a {
    padding: 10px 15px;
    display: block;
    text-transform: uppercase;
}

.name-bottom {
    float: left;
    padding: 1.5em;
}

.top {
    float: right;
    text-transform: uppercase;
    padding: 1.5em;
}

.contact-info {
    padding-bottom: 3em;
    border-bottom: 1px solid #4e4e4e;
    width: 90%;
    margin: 0 auto;
}

.bottom-nav {
    display: none;
}

/* Media Queries */

@media (min-width: 768px) {

    .main-nav {
        float: right;
    }
    
    .main-nav li {
        float: left;
        margin-left: 25px;
        background: none;
    }

    .main-nav a {
        padding: 0;
    }

    .main-header {
        padding: 2em;
    }
    
    .name {
        float: left;
    }

    .profile-pic {
        float: right;
        width: 40%;
        margin-left: 1em;
        margin-bottom: 3em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .intro {
        text-align: left;
        padding-left: 1em;
        padding-right: 1em;
    }

    .col {
        width: 50%;
        float: left;
        padding-top: 2em;
        padding-left: 1em;
        padding-right: 1em;
        min-height: 450px;
    }

    .container {
        padding: 50px 0;
    }

    .top {
        display: none;
    }

    .bottom-nav {
        float: right;
    }
    
    .bottom-nav li {
        float: left;
        margin-left: 25px;
        padding-left: 1em;
        background: none;
    }

    .bottom-nav a {
        padding: 0;
    }

    .main-footer {
        padding-right: 1em;
        padding-left: 1em;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

}

@media (min-width: 1024px) {

    .profile-pic {
        float: right;
        width: 40%;
        margin-left: 1em;
        margin-bottom: 3em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .intro {
        text-align: left;
        padding-left: 1em;
        padding-right: 1em;
    }

    .col {
        width: 33.333%;
    }

    .container {
        padding: 50px 0;
        margin: 20px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

}