/* Element Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 1.7em;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    max-width: 100%;
}

/* Class Styles */

.container {
    background-color: #fff;
    padding: 50px 50px;
}

.profile, 
.contact,
.main-header {
    padding-left: 1em;
    padding-right: 1em;
}

.name {
    padding-top: .5em;
}

.main-nav li {
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav a {
  padding: 10px 15px;
  display: block;
  text-transform: uppercase;
}
